/* 我的信息（me）的公共样式：设置页面默认背景颜色 */
.me-body{
	display: flex;
	flex-direction: column;
	justify-content:center;
	font-size: 32rpx;
}
.me-content{
	display: flex;
	flex-direction: column;
	justify-content:center;
	margin-bottom: 40rpx;
	padding: 0 86rpx 0 86rpx;
	background-color: #fff;
}
.me-content-item{
	padding-top: 10rpx;
	border-bottom: 1rpx solid rgb(200,200,200);
	height: 88rpx;
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}
.me-no-border{
	border: 0;
}

.me-right{
	display: block;
	float: right;
	width: 32rpx;
	height: 32rpx;
	position: absolute;
	right: 0;
}

.me-right-rpx{
	right: 45rpx;
}

.me-padding{
	padding: 0 50rpx 0 50rpx ;
}